
body,html {
    height:100%;
    background-color: rgb(14,14,16);
}

body {
    padding-top: 60px;
    
}


#bootstrap-overrides :not(input) {
    color: white;
}


img {
    height: 50%;
    border-radius: 50%;
}

