
body,html {
    height:100%;
    background-color: rgb(14,14,16);
}

body {
    padding-top: 60px;
    
}

img {
    height: 5rem;
}

#bootstrap-overrides :not(input) {
    color: white;
}

.profile-pic {
    border-radius: 50%;
}



.twitch-video {
    padding: 0 0 48.6%;
    height: 100%;
    width: 75%;
    box-sizing: border-box;
}

.twitch-video iframe {
    height: 800px;
    width: 100%;
}

.chat {
    position: sticky;
    height: calc(100vh - 55px);
    top: 55px;
    flex-grow: 1;
    flex-shrink: 0;
}
