
body,html {
    height:100%;
    background-color: rgb(14,14,16);
  }
  
.body {
    /* background-color: rgb(14,14,16); */
    width: 1080px;
    margin: 0px auto;
    padding: 0px auto;
    
    
}

#bootstrap-overrides :not(input) {
    color: white;
}

.profile-pic {
    border-radius: 50%;
}

img {
    height: 5rem;
}

